<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/output/dist/css/vendor.css">
</head>
<body>
  <header><%= name %></header>
  <div id="app" class="<%= name %>"></div>
  <script src="/output/dist/js/vendor.js"></script>
  <script src="/output/dist/js/error.js"></script>
</body>
</html>
